logs
project/project
project/target
target
tmp
.history
dist
/out
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
bin/
.cache-main
.cache-tests
/bin/
.gradle/
build/

# IntelliJ
.idea
.idea_modules
*.ipr
*.iws
*.iml
